html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --text-color-data--Disabled: #ababab;
  --text-list-product: #d6936d;
  --text-color-btn: #000000;
  --text-color-grey: #ababab;
  --text-color: #fcfcfc;
  --text-color-dark: #131313;
  --Default-color: #f8d24e;
  --hover-color: #0a8817;
  --cubic-brauser: cubic-bezier(0.4, 0, 0.2, 1);
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #84a278;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* Start */

.about-main {
  position: relative;
}

.about-title-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 12px;
  padding-top: 60px;
}

.about-title {
  margin-left: auto;
  margin-right: auto;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color);
}

.background-circle {
  width: 279px;
  height: 278px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  margin-top: 32px;
  margin-bottom: 62px;
}

.about-picture {
  position: absolute;
  top: 262px;
  left: 50%;
  transform: translateX(-50%);
  width: 279px;
  height: 276px;
  border-radius: 50%;
  background-image: url(../images/cow.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.about-description-text {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-color);
}

.about-description-item:not(:last-child) {
  margin-bottom: 4px;
}

.about-description-item:last-child {
  margin-bottom: 24px;
}

.about-button {
  display: block;
  width: 164px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--Default-color);
  color: var(--text-color-btn);
  border: none;
  border-radius: 10px;
  margin-bottom: 60px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-brauser);
}

.about-button:hover,
.about-button:focus {
  background-color: var(--hover-color);
}

.about-button:focus {
  color: var(--text-color);
}

.about-button-text {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}

@media screen and (max-width: 767px) {
  .about-title {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .about-title-label {
    font-weight: 800;
    font-size: 22px;
  }

  .about-title {
    font-size: 34px;
    letter-spacing: 0.06em;
  }

  .background-circle {
    width: 330px;
    height: 330px;
    margin-left: 0;
    margin-top: 72px;
    margin-right: 38px;
    margin-bottom: 86px;
  }

  .about-picture {
    top: 240px;
    left: 32px;
    transform: translateX(0%);
    width: 330px;
    height: 330px;
  }

  .about-content {
    display: flex;
  }

  .about-description-text {
    width: 334px;
    text-align: left;
  }

  .about-description-item:first-child {
    margin-top: 80px;
  }

  .about-description-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .about-description-item:last-child {
    margin-bottom: 32px;
  }

  .about-button {
    width: 164px;
    margin-left: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--Default-color);
    border: none;
    border-radius: 10px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .about-title-label {
    font-size: 30px;
  }

  .about-title {
    font-size: 36px;
  }

  .background-circle {
    width: 490px;
    height: 490px;
    margin-top: 82px;
    margin-right: 109px;
    margin-bottom: 99px;
  }

  .about-picture {
    top: 275px;
    left: 16px;
    width: 490px;
    height: 490px;
  }

  .about-description-text {
    width: 463px;
    font-size: 14px;
    line-height: 1.94;
  }

  .about-description-item:first-child {
    margin-top: 172px;
  }

  .about-description-item:last-child {
    margin-bottom: 54px;
  }

  .about-descr-text-desktop {
    font-size: 16px;
    line-height: 1.76;
  }
}
